.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .tasks-counter {
    .value {
      padding: 0.07em 0.2em;
      border: 2px solid hsl(var(--clr-orange));
    }
  }

  .button--delete-all {
    padding: 0.5em 0.7em;
    border-radius: 5px;
    transition: all 200ms;

    &:hover {
      background-color: hsl(var(--clr-orange));
    }
  }
}
